* {
    margin: 0
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    background-color: #596f54;
    gap: 20px;
}

.container__box {

    width: 20px;
    min-width: 200px;
    height: 200px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.6);
}
